.CurrentPage{
  position: absolute;
  bottom: -150px;
  right: 25px;
  font-size: 800px;
  line-height: 800px;
  font-weight: bold;
  z-index: -1;
  color: rgba(0, 133, 157, .05);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.CurrentPage.p7{
  display: none !important;
}
