
.eurosign{
  color: #88C2CD;
  font-size: 40px;
  margin-right: 20px;
  font-weight: bolder;
}

@media screen and (max-width: 768px){
  .eurosign{
    font-size: 25px;
    margin-right: 5px;
  }
}

.numberInput.wage{
  width: 150px;
}

.bereken_wrap{
  margin-top: 40px;
}

.bereken{
  color: #88C2CD;
  padding: 15px;
  background-color: #fff;
  border: 2px solid #88C2CD;
  text-transform: uppercase;
  transition: all .3s;
  letter-spacing: 2px;
}

.bereken:after{
  font-family: FontAwesome;
  content: '\f0da';
  margin-left: 10px;
}

.bereken:hover{
  color: #fff;
  background-color: #88C2CD;
  cursor: pointer;
}
