@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:400,800');
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 133, 157, .15);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 133, 157, .15);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 133, 157, .15);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 133, 157, .15);
}

* {
  margin: 0;
  padding: 0;
}

/* ----- FONTS ----- */
h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins';
}

h1{
    font-size:70px;
    font-weight:800;
    line-height:95px;
    letter-spacing:2px;
}
h2{
    text-transform:none;
    font-size:40px;
    line-height:50px;
    font-weight:800;
    letter-spacing:1.5px;
  	margin-bottom:20px!important;
}
h3{
    text-transform:none;
    font-size:25px;
    line-height:35px;
    font-weight:800;
    letter-spacing:1px;
  	margin-bottom:15px!important;
}
h4{
    text-transform:uppercase;
    font-size:14px;
    font-weight:400;
    letter-spacing:1px;
}

p {
  margin: 5px;
  font-family: 'Lato', sans-serif;
}

.clearfix::before{
  content: '';
  display: table;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

a.btn{
  padding: 15px 30px;
  line-height: 52px;
  /* border-radius: 30px; */
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  text-align-last: center;
  padding: 15px 30px;
  font-size: 17px;
  /* border-radius: 30px; */
}

select ::-ms-expand {
  display: none;
}

select:hover {
  cursor: pointer;
}


/* #root,
#pension_calculator{
  background-image: url('./assets/img/background.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #root::before,
#pension_calculator::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
} */

.App {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  opacity: 0.945;
  text-align: center;
  width: calc(100% - 300px);
  padding: 150px;
  position: relative !important;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.22);
  /* max-height: calc(80vh - 300px); */
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .App {
    width: calc(100% - 90px);
    padding: 45px
  }
}

/* .App.Page7{
  width: 70%;
  padding: 100px 150px;
  max-height: calc(95vh - 300px);
} */

/* OVERFLOW SCROLL FOR FINAL PAGE */

/* .App.Page7{
  overflow-y: scroll;
} */

.slide-enter {
  transition: all 0.3s;
  transform: translateX(150%);
  opacity: 0;
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
}

.slide-leave {
  position: absolute;
  top: 150px;
  left: 50%;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(0);
}

.slide-leave.slide-leave-active {
  transform: translateX(-150%);
}

.slide-appear {
  opacity: 0.01;
}

.slide-appear.slide-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

@media screen and (max-width: 768px){
  .App .block{
      width: 70%;
      margin-right: 0;
      margin-left: 15%;
      margin-bottom: 15px;
  }

  .App .clearfix p:first-of-type{
      margin-top: 10px;
  }

  .App .reset_wrap a.btn{
      display: inline-block;
      padding: 5px 15px;
      margin-bottom: 15px;
  }

  .App .video_wrap .text_wrap,
  .App .video_wrap .player_wrap{
      width: 100%;
  }

  .App .video_wrap .text_wrap h2,
  .App .video_wrap .text_wrap p{
      text-align: center;
  }
}
